/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';

.gallery{
	display: flex;
	flex-wrap: wrap;
}
.photo-card{
	margin-right: 15px;
}
.load-more{
	margin: 30px auto;
	display: flex;
}
.hide{
	display: none;
}